<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="mapper.UserMapper">

	<!-- 数据库字段与类的属性的映射 -->
	<!-- column 数据库字段  property domain中user类型-->
	<resultMap type="user" id="UserMapper">
		<result column="id" property="id" jdbcType="INTEGER" javaType="int"/>
		<result column="userId" property="userId" jdbcType="INTEGER" javaType="int"/>
		<result column="userName" property="userName" jdbcType="VARCHAR" javaType="string"/>
		<result column="userPasswd" property="userPasswd" jdbcType="VARCHAR" javaType="string"/>
		<result column="roleId" property="roleId" jdbcType="INTEGER" javaType="int"/>
	</resultMap>
	
</mapper>
